@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Grade Calculator";
}

<!-- Calculates grades based on user input -->
<h2>Grade Calculator</h2>
<form>
    <label>Assignment percentage:</label>
    <input type="number" id="assignments" /><br />
    <label>Group Project percentage: </label>
    <input type="number" id="groupProjects" /><br />
    <label>Quiz percentage:</label>
    <input type="number" id="quizzes" /><br />
    <label>Exam percentage:</label>
    <input type="number" id="exams" /><br />
    <label>INTEX percentage:</label>
    <input type="number" id="intex" /><br />
    <input id="calculate" type="button" value="Calculate" />
</form>

<script src="~/js/GradeCalculator.js"></script>