@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Matt Goulding Bio";
}

<!-- Name and image -->
<h1> Matt Goulding </h1>
<img src="img/20210814_122449611_iOS.jpg" />
<br />

<!-- Paragraph about me and my top three jobs -->
<p>
    I am looking forward to IS413! While I do not plan on being a software dev full time I completely understand the
    value of learning to code and develop apps. I am excited to learn JQuery as well as new ways to use the MVC model since they
    significantly speed up the process of web design. I hope to be able to apply these skills to my own personal projects (such as
    the web server that I currently run).
</p>

<ul>
    <li>1. Cybersecurity Analyst </li>
    <li>2. Penetration Tester </li>
    <li>3. Network Admin</li>
</ul>